APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=sqlite
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=laravel
# DB_USERNAME=root
# DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

META_PIXEL_ID=1057716843499038
META_CAPI_TOKEN=EAATP3pNl4QgBSFPC0OmvbnQZCAa8d68FZA42rdlFERXuArRRENkMigCXqLBaW4KyfgUxyTUvJhP1buIXEJwfkKVMttfQwGttGNQ0BH26rq4RaRECTciFSmpljQ4t2rwozJloPUHzVgFJ0YLTQZCZAicyaXzoGW5IWDFufNwUZBKWIxWEshYMKOI5JalLV9lv53QZDZD

TIKTOK_PIXEL_ID=D9IS4RRC77U13TU259K0
TIKTOK_CAPI_TOKEN=cf43cf0e3ff1cfbb76b1a537cb864af263b66bae

SNAPCHAT_PIXEL_ID=84c3351e-4d60-430d-9c66-dc0cf889ed32
SNAPCHAT_CAPI_TOKEN=eyJhbGciOiJIUzI1NiIsImtpZCI6IkNhbnZhc1MyU0hNQUNQcm9kIiwidHlwIjoiSldUIn0.eyJhdWQiOiJjYW52YXMtY2FudmFzYXBpIiwiaXNzIjoiY2FudmFzLXMyc3Rva2VuIiwibmJmIjoxNzg1MDUzOTk4LCJzdWIiOiJiYjJkODk1MC01NzkxLTRkNjMtYmNiNy0zMWFiOTUwMWM4ODR-UFJPRFVDVElPTn5mMzdlYjNiNy02NmEzLTRlYmYtYTA0MS1iM2E1NzY0ZmMwMzEifQ.AWz_v84D0bwDGhbS6wKh_5xxD4oZIl2tXxsGxHT0ebs

GTM_ID=GTM-55MZCJ7Z
